{% extends 'base-figma.html' %}
{% block content %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

<link href="static/assets/css/style-figma.css" rel="stylesheet">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<link href="static/assets/css/login.css" rel="stylesheet">

<body
  style="background-image: linear-gradient(3.47deg, #00649B 13.28%, #66A9CD 93.28%); background-repeat: no-repeat; background-attachment: fixed;">
  <!-- The dots/circles -->
  <div class="login-box" style="margin-top: 10px;">
    <div style="height: 2.5rem; background: #12ABDB; border-radius: 0px;"></div>
    
    <div class="container">
      <p style="font-size:18px;"><b>RECORD OF PROCESSING ACTIVITIES</b></p>
      <p class="dpia-title" style="color: black;"></p>
      <div class="ropa">  
        <img src="static/assets/img/Ropa-Login.png">
      </div>
      {% if text %}
      <div style="height: 20px; width:300px;">
        <p style="font-size: 14px; color: red; ">Invalid Username or Password!</p>
      </div>
      {% endif %}
      <form method="POST">
        {% csrf_token %}
        <div class="input-field" >
          <input type="text" name="username" style="font-size: 14px;" required>
          
          <label>Username</label>
        </div>
        <!--             <label style="margin-left:-300px;">Password</label>-->
        <div class="input-field">
          <input class="pswrd" type="password" name="password" style="font-size: 14px;" required>
          <span class="show">SHOW</span>
          <label>Password</label>
          <span style="font-family: 'Ubuntu';font-style: normal;font-weight: 500;font-size: 12px;line-height: 16px;/* or 114% */letter-spacing: 0.75px;text-transform: capitalize;color: #12ABDB;">FORGOT
            PASSWORD?</span>
          <div style="margin-top: 2rem;">
            <a href="{% url 'login' %}"><button class="login-button111" type="submit">LOGIN</button></a>
          </div>
        </div>


        



        <script>
          var input = document.querySelector('.pswrd');
          var show = document.querySelector('.show');
          show.addEventListener('click', active);
          function active() {
            if (input.type === "password") {
              input.type = "text";
              show.style.color = "#1DA1F2";
              show.textContent = "HIDE";
            } else {
              input.type = "password";
              show.textContent = "SHOW";
              show.style.color = "#111";
            }
          }
        </script>
      </form>
    </div>
  </div>
  {% endblock %}
</body>

</html>