{% extends 'base-figma.html' %}
{% block content %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="static/assets/css/style-figma.css" rel="stylesheet">
</head>
<body style="background: linear-gradient(3.47deg, #00649B 13.28%, #66A9CD 93.28%);
position: static;
width: 800px;
height: 900px;">

 <div id="main">

      <form method="POST" id="screen_1_form" class="form-horizontal" action="record">
          {% csrf_token %}
          <div class="alt-nav" style="width: 1263px;">
            <div style="position: absolute;
                height: 26px;
                left: 11.39%;
                right: 38.75%;
                top: 32%;
                font-family: 'Ubuntu';
                font-style: normal;
                font-weight: 500;
                font-size: 20px;
                line-height: 28px;
                /* or 117% */
                font-feature-settings: 'pnum' on, 'lnum' on;
                /* Typography/On Surface/High Emphasis */
                color: rgba(39, 41, 54, 0.85);">
                <label class="tit" style="margin-left:39px;">TITLE</label>
                <a href="javascript:;" onclick="history.back()" ><img src="static/assets/img/Icon.png"></a>
                <p class="" style=" margin-left: 54px; margin-top: -30px;">ROPA Dashboard<b></b></p>
             </div>
              <div style="position: absolute; height: 26px; left: 70.39%; top: 40%;">
              </div>
              <div style="position: absolute; height: 26px; left: 90.00%; top: 28%;">
                <input type="reset" id="resetbuttonid" style="display:none;">
                <a href="javascript:;"></a>
              </div>
              <div style="position: absolute; height: 26px; left: 62.00%; top: 30%;">
                  <button type="submit" class="button" style="margin-left: 220px;"><span> </span></button>
              </div>
             </div>
              <div class="rect-4" style="min-height:750px; width:750px;margin-left:25%;">
                <div style="position:absolute; left:4%; padding-right: 5%;">
                    <div style="padding-top: 2%;">
                        <label class="org" style="left:-5%;">View ROPA ID Details</label>
                    </div>
                    <div class="form-group">
                        <div class="input-1 col " style="left: -5%; top: 25%;">
                            <label for="inputPassword" class="label-top">ROPA ID</label>
                            <input type="text" style="margin-top: 5px; width:300px;" name="ROPA ID" class="input-master" id="inputPassword" placeholder="Lorem Ipsum" >
                        </div>
                        <div class="input-1 col " style="left:-10%;top:52%; ">
                            <label for="inputPassword" class="label-top" style="width: 140px; font-size:12px;">Process Activity Name</label>
                            <input type="text" name="Process Activity Name" style="margin-top: 5px; width:300px;" class="input-master" id="inputPassword" placeholder="Lorem Ipsum">
                        </div>
                    </div>
                    <div class="input-1 col" style="left: 430%; top: 25%;">
                        <label for="inputPassword" class="label-top" style="width: 140px; font-size:12px;">Business Function  </label>
                        <input style="margin-top: 5px; width:300px;" type="text" name="business_function" class="input-master" id="inputPassword" placeholder="Lorem Ipsum">
                     </div>
                     <div class="input-1 col" style="left: 430%; top: 56%;">
                        <label for="inputPassword" class="label-top" style=" width: 200px;font-size:12px;">Process Activity Description</label>
                        <input style="margin-top: 5px;width:300px; height:50px;" type="text" name="Process Activity Description" class="input-master" id="inputPassword" placeholder="Lorem Ipsum " >
                      </div>
                    <p style="margin-top: 270px; margin-left: 42px;"></p>
                 </div>
                <div class="form-group">
                    <div class="col">
                        <div class="input-1 col " style="left: 3%; top:32%;">
                            <label for="inputPassword" class="label-top" style="width:200px;  margin-top:">Categories of Data Subjects</label>
                            <input type="text" style="margin-top: 5px; width:300px;" name="Categories of Data Subjects" class="input-master" id="inputPassword" placeholder="Lorem Ipsum">
                        </div>
                       <div class="input-1 col " style="left: 3%;top:46%;">
                            <label for="inputPassword" class="label-top" style="width:220px;">Name and Contact Details of Joint Controller</label>
                            <input type="text" style="height:52px; width:300px;" name="Name and Contact Details of Joint Controller" style="margin-top: 5px;" class="input-master" id="inputPassword" placeholder="Lorem ipsum">
                      </div>
                    </div>
                    <div class="input-1 col" style="left: 49.5%; top: 46%;">
                        <label for="inputPassword" class="label-top" style="width: 200px; font-size:12px;">Categories of Recipients </label>
                        <input style="margin-top: 5px; width:300px; height:52px; " type="text" name="Categories of Recipients" class="input-master" id="inputPassword" placeholder="Lorem ipsum">
                    </div>
                    <div class="input-1 col" style="left: 49.5%; top: 32%;">
                        <label for="inputPassword" class="label-top" style=" width: 200px;font-size:12px;">Categories of Personal Data</label>
                        <input style="margin-top: 5px; width: 300px;" type="text" name="Categories of Personal Data" class="input-master" id="inputPassword" placeholder="Lorem ipsum " >
                    </div>
                    <div class="form-group">
                        <div class="input-1 col " style="left: 3%; top:56%;">
                            <label for="inputPassword" class="label-top" style="width:200px;">Lawful Basis of Processing</label>
                            <input type="text" style="margin-top: 5px; width:300px;" name="" class="input-master" id="inputPassword" placeholder="Lorem Ipsum" >
                        </div>
                       <div class="input-1 col " style="left: 3%;top:65%;">
                            <label for="inputPassword" class="label-top">Data Processor</label>
                            <input type="text" name="Data Processor" style="margin-top: 5px; width:300px;" class="input-master" id="inputPassword" placeholder="Lorem Ipsum">
                       </div>
                        <div class="input-1 col" style="left: 49.5%; top: 56%;">
                            <label for="inputPassword" class="label-top" style="width: 140px; font-size:12px;">Retention Schedule </label>
                            <input style="margin-top: 5px; width:300px;" type="text" name="Retention Schedule" class="input-master" id="inputPassword" placeholder="Lorem Ipsum">
                        </div>
                        <div class="input-1 col" style="left: 49.5%; top: 65%;">
                            <label for="inputPassword" class="label-top" style=" width: 200px;font-size:12px;">Link to Contract with Processor</label>
                            <input style="margin-top: 5px; width: 300px;" type="text" name="Link to Contract with Processor" class="input-master" id="inputPassword" placeholder="Lorem Ipsum">
                        </div>
                        <div style="position:absolute; left:95%; padding-right: 5%;">
                <!--                <a href="javascript:;" id="button_1"><img src="static/assets/img/icon-right-inside.png" onclick="toggleText()" alt="Info"></a>-->
                        </div>
                        <div class="form-group">
                            <div class="input-1 col " style="left: 3%; top:75%;">
                                <label for="inputPassword" class="label-top" Style="font-size:12px; width:300px; margin-top:px; Letter:0.2px;">Third Countries or international organizations where personal data
                                        is transferred (if applicable) </label>
                                <input type="text" style="margin-top: 22px; width:300px;" name="Third Countries or international organizations where personal data
                                        is transferred (if applicable) " class="input-master" id="inputPassword" placeholder="Lorem Ipsum" >
                            </div>
                            <div class="input-1 col " style="left: 3%;top:85%;">
                                <label for="inputPassword" class="label-top" style="width:300px; ">Safeguards for exceptional transfers of personal data for above (If applicable)</label>
                                <input type="text" style="margin-top:22px;" name="Safeguards for exceptional transfers of personal data for above (If applicable)" style="margin-top: 22px; width:320px;" class="input-master" id="inputPassword" placeholder="Lorem ipsum">
                            </div>
                            <div class="input-1 col" style="left: 49.5%; top: 75%;">
                                <label for="inputPassword" class="label-top" style="width: 300px; font-size:12px; ">Label General description of technical and organizational security measures (if applicable)</label>
                                <input style="margin-top: 22px; width:300px;" type="text" name="Label General description of technical and organizational security
                                      measures (if applicable)" class="input-master" id="inputPassword" placeholder="Lorem ipsum">
                            </div>
                          <div class="input-1 col" style="left: 49.5%; top: 85%;">
                            <label for="inputPassword" class="label-top" style=" width: 300px;font-size:12px;">Links to contracts, consents, breach records, assessments</label>
                            <input style="margin-top: 22px; width: 320px;" type="text" name="Links to contracts, consents, breach records, assessments" class="input-master" id="inputPassword" placeholder="Lorem ipsum " >
                          </div>
                        </div>

                     </div>

               <footer style="height:50px;  position: fixed;width:570px; right: 0;bottom: 0; margin-40%; ">
                   <button type="submit" style="background: #FFFFFF;border-radius: 0px 0px 4px 4px; border: 1px solid #0E88AF;border-radius: 4px; margin-left:-160px; margin-top:10px;  width:340px; height:30px;">
                   <span style="text-align: center;align-items: center;letter-spacing: 0.75px;font-size: 14px;color: #12ABDB;font-family: 'Ubuntu';font-style: normal;font-weight: 500; line-height: 16px; margin-left:10px;">Delete</span></button>
                   <button type="submit"  style="background: #12ABDB;border: 1px solid #0E88AF;border-radius: 4px; margin-left:30px; margin-top:10px;  width:320px; height:30px;">
                       <span style="text-align: center;align-items: center;letter-spacing: 0.75px;font-size: 14px;color: rgba(255, 255, 255, 0.95);font-family: 'Ubuntu';font-style: normal;font-weight: 500;line-height: 16px;">Add</span></button>
               </footer>
      </form>

</body>
{% endblock %}
</html>