{% extends 'base-figma.html' %}
{% block content %}
{% load static %}

<link href="static/assets/css/style-figma.css" rel="stylesheet">
<style>
     /* The Modal (background) */
  .modal {
      display: none; /* Hidden by default */
      position: fixed; /* Stay in place */
      z-index: 1; /* Sit on top */
      padding-top: 100px; /* Location of the box */
      left: 0;
      bottom: 0;
      width: 100%; /* Full width */
      height: 100%; /* Full height */
      overflow: auto; /* Enable scroll if needed */
      background-color: rgb(0,0,0); /* Fallback color */
      background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
    /* The Modal (background) */
  .modal2 {

      position: fixed; /* Stay in place */
      z-index: 1; /* Sit on top */
      padding-top: 100px; /* Location of the box */
      left: 0;
      bottom: 0;
      width: 0%; /* Full width */
      height: 100%; /* Full height */
      overflow: auto; /* Enable scroll if needed */

      background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  .close_upload{
      color: #aaaaaa;
      float: right;
      margin-right:2%;
      font-size: 28px;
      font-weight: bold;
      cursor: pointer;
  }
  .close:hover,
  .close_upload:focus{
      color: #000;
      text-decoration: none;
      cursor: pointer;
  }

  .close_up{
      color: #aaaaaa;
      float: right;
      margin-right:2%;
      font-size: 28px;
      font-weight: bold;
      cursor: pointer;
  }
  .close_up:hover,
  .close_up:focus{
      color: #000;
      text-decoration: none;
      cursor: pointer;
  }

  .close_u{
      color: #aaaaaa;
      float: right;
      margin-right:2%;
      font-size: 28px;
      font-weight: bold;
      cursor: pointer;
  }
  .close_u:hover,
  .close_u:focus{
      color: #000;
      text-decoration: none;
      cursor: pointer;
  }

   .scroll {
        overflow-y: scroll;
        height: 120px;
        width: 300px;
        margin: 10px 15px; padding: 5px;
        text-align: justify;
    }
    .scroll::-webkit-scrollbar {
      width:10px;
    }
    .scroll::-webkit-scrollbar-track {
      -webkit-box-shadow:inset 0 0 0px rgba(0,0,0,0.3);
      border-radius:10px;
    }
    .scroll::-webkit-scrollbar-thumb {
      border-radius:15px;
      -webkit-box-shadow: inset 20px 0 10px grey;
    }


</style>


<script>

    function download_files(){
        console.log('downloading files...');
        getSelectValue = document.getElementById("cars").value;
        if(getSelectValue == '2'){
            document.getElementById("select_1").click();
        }else{
           console.log('pdf')
        }
        if(getSelectValue == '5'){
            document.getElementById("select_2").click();
        }else{
           console.log('pdf')
        }
        if(getSelectValue == '3'){
            document.getElementById("select_3").click();
        }else{
           console.log('pdf')
        }
        if(getSelectValue == '4'){
            document.getElementById("select_4").click();
        }else{
           console.log('pdf')
        }
    }
</script>



<div class="alt-nav" style="width:1372px;height:80px">
    <p style="margin-left:170px;margin-bottom:143px;margin-top:30px;font-weight: 500;line-height: 28px;font-size: 24px;" onclick="history.back()"><a href="{% url 'admin_screen' %}" style="text-decoration:none;color:black;"><img src="static/assets/img/Icon.png"></a> Admin </p>
</div>

<body style="overflow-x:hidden;background: linear-gradient(3.47deg, #00649B 13.28%, #66A9CD 93.28%);position: static;width: 1090px;height: 700px; margin-left: 150px;
padding-top: 100px;">



    <a href="/static/assets/bs_glossaryy_excel.csv" id="select_1" download hidden></a>
    <a href="/static/assets/record_registerr_excel.csv" id="select_2" download hidden></a>
    <a href="/static/assets/user_roll_mappingg_excel.csv" id="select_3" download hidden></a>
    <a href="/static/assets/business_functionn_excel.csv" id="select_4" download hidden></a>
    <div style="margin-left:55%; position: absolute;margin-top:15px; ">
        <select class="download" onchange="download_files()" name="cars" id="cars">
            <option value= "1" > Download Template </option>
            <option value="2" id="">Business Glossary</option>
            <option value="3">User Mapping</option>
            <option value="4">Business Function</option>
            <option value="5">ROPA ID</option>
        </select>
    </div>

    <!--    Risk Summary box 1-->
<!--    <a href=""  onClick="risk_clickable_box1()" id="myBtn">-->
        <div class="risk-clickable-box1" id="myBtn" style="margin-top:50px;height:195px;">
            <div class="inside-risk-clickable-box1" style="height:80px;">
                <p class="risk_summary_title">Set Business Glossary</p><br>
                <p class="us" style="right:-40px;">Upload Business Glossary.</p>
                <img class="users" style="margin-top:74px; margin-left:80px;" src="static/assets/img/setb.png" >
            </div>
        </div>
<!--    </a>-->


    <a href="map_role" onClick="risk_clickable_box2()">
        <div class="risk-clickable-box2" id="risk-clickable-box2" style="margin-top:50px;height:195px;">
            <div class="inside-risk-clickable-box2 disabled" style="height:80px;">
                <p class="risk_summary_title">Map Roles to Users</p><br>
                <p class="us" style="right:-40px;">Upload Map Roles to Users </p>
                <img class="users"style="margin-top:74px; margin-left:83px;" src="static/assets/img/mapr.png" >
            </div>
        </div>
    </a>


<!--    <a href="#" onClick="risk_clickable_box3()">-->
        <div class="risk-clickable-box3" id="risk-clickable-box3" style="margin-top:50px;height:195px;">
            <div class="inside-risk-clickable-box3 disabled" style="height:80px;">
                <p class="risk_summary_title">Set Business Functions</p><br>
                <p class="us" style="right:-40px;">Upload files for Business Function </p>
                <img class="users" style="margin-top:74px; margin-left:83px;"src="static/assets/img/setf.png" >
            </div>
        </div>
<!--    </a>-->


<!--    <a href="#" onClick="risk_clickable_box4()">-->
        <div class="risk-clickable-box4" id="risk-clickable-box4" style="margin-top:50px;height:195px;">
            <div class="inside-risk-clickable-box4 disabled" style="height:80px;">
                <p class="us" style="right:-40px;">Upload Records Register </p>
                <p class="risk_summary_title">Set Records Register</p><br>

                <img class="users" style="margin-top:74px; margin-left:83px;"src="static/assets/img/setr.png" >
            </div>
        </div>
<!--    </a>-->


    <form action="admin_screen" onsubmit="setTimeout(Mybtn('{{record_success}}'), 3000)" enctype="multipart/form-data" method="POST">
        {% csrf_token %}

        <div id="myModal17" class="modal3" style="overflow-x: hidden;overflow-y: hidden;margin-top:0px;">
                <div class="rect-4" style="min-height:515px; width:480px; margin-left:47%; margin-top:-110px; background-color:white;">
                    <div style="position:absolute; left:4%; padding-right: 10%;">
                        <span class="close_upl">&times;</span>
                        <div class="dow" style="margin-left:100px; margin-top:150px;">
                            <p style="padding-top:100px;">Click on the "Choose File" button to upload a file:</p>
                            <input type="file"  onchange="colorChange()" id="document_record" name="document" required>
                        </div>
                    </div>


                    <img src="static/assets/img/upload.png" style="margin-left:200px; margin-top:100px; width:120px;" >
                </div>
        </div>
   </form>


    <div id="upload_logo1" class="modal4" style="overflow-x: hidden;overflow-y: hidden;margin-top:0px;">
          <div class="rect-4" style="min-height:530px; width:480px; margin-left:47%; margin-top:-110px; background-color:white;">
              <span class="close_u">&times;</span>
              <div style="position:absolute; left:9%; ">
                  <div style="margin-top:13%;">
                       <label class="" style="left:-9%;position:absolute;font-family: 'Ubuntu';font-style: normal;font-weight: 500;
                           font-size: 16px;line-height: 24px; margin-top:-30px;" >
                       <img src="static/assets/img/Icon.png" onclick="history.back()"  alt="Back"/> Set Records Register. </label>
                  </div>
                  <img src="static/assets/img/bro.png" style="margin-top:30px; width:250px; margin-left:50px;">
                    <p style="margin-top:20%"></p>
                        <p style="margin-left: 15%; margin-top:-40px;font-family: 'Ubuntu';font-style: normal;font-weight: 300px;font-size: 24px;line-height: 28px;text-align: center;font-feature-settings: 'pnum' on, 'lnum' on;color: rgba(39, 41, 54, 0.85);">Uploaded!</p>
                         <p style="margin-left: 23%;">Your file has been uploaded.<br>
<!--                   <p  class ="" style="text-align:center;"><a href="record">Go to Records Register.</a></p>-->
                  <p style="margin-left: 23%;">Your file has been uploaded.
                            <br><a href="record">Go to Records Register.</a></p>

              </div>


          </div>


    </div>




<script>
// Get the modal
    var modal = document.getElementById("myModal17");

    // Get the button that opens the modal
    var btn = document.getElementById("box4");


    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close_upload")[0];

    // When the user clicks the button, open the modal
    btn.onclick = function() {
      modal.style.display = "block";
    }

    // When the user clicks on <span> (x), close the modal
    span.onclick = function() {
      modal.style.display = "none";
    }


    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
      if (event.target == modal) {
        modal.style.display = "none";
      }
    }


    var upload = document.getElementById("upload_logo1");


    var upload_close = document.getElementsByClassName("close_u")[0];


     // When the user clicks on <span> (x), close the modal
    upload_close.onclick = function() {
      upload_screen.style.display = "none";
    }







</script>

{% endblock %}
</body>




