/* Top Navigation */

.top-nav{
    position: absolute;
    width: auto;
    height: 72px;
    left: 0px;
    top: 0px;

    /* Primary/Contrast */

    background: #FFFFFF;
}

.alt-nav{
    position: absolute;
    width: 1280px;
    height: 78px;
    left: 0px;
    top: 60px;

    /* Grey Scale/Grey 2 */

    background: #F4F4F4;
}

.alt-button{
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    /* identical to box height, or 114% */

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.75px;
    text-transform: capitalize;
    /* Primary/Palette/Primary */

    color: #12ABDB;

    position: absolute;
    left: 70.22%;
    right: 14.24%;
    top: 38.89%;
    bottom: 38.89%;
}

.product{
    position: absolute;
    left: 82.22%;
    right: 14.24%;
    top: 38.89%;
    bottom: 38.89%;
}


.h1{
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    /* or 117% */
    
    /* font-feature-settings: 'pnum' on, 'lnum' on; */
    
    /* Typography/Dark Background/High Emphasis */
    
    color: rgba(255, 255, 255, 0.95);
}

.rect-1{
    position: absolute;
    width: 60%;
    height: 20%;
    left: 15%;
    top: 13%;
    margin-top: 5px;
}

.rect-4{
    position: absolute;
    width: 850px;
    height: 320px;
    left: 15%;
    top: 32%;
    margin-bottom:100%;

    background: #FFFFFF;
    /* Elevation/03 */

    box-shadow: 0px 12px 17px rgba(0, 67, 103, 0.19), 0px 5px 22px rgba(0, 67, 103, 0.19), 0px 7px 8px rgba(0, 67, 103, 0.6);
    border-radius: 8px;
}

.rect-4-1{
    position: absolute;
    width: 850px;
    height: 390px;
    left: 15%;
    top: 26%;

    background: #FFFFFF;
    /* Elevation/03 */

    box-shadow: 0px 12px 17px rgba(0, 67, 103, 0.19), 0px 5px 22px rgba(0, 67, 103, 0.19), 0px 7px 8px rgba(0, 67, 103, 0.6);
    border-radius: 8px;
}

.rect-2{
    position: absolute;
    width: 70%;
    height: 8px;
    left: 12.5%;
    top: 26%;
    z-index: 11;
    border-radius: 8px;
}
.rect-28{
    position: absolute;
    width: 53%;
    height: 8px;
    top: 2.5px;    
    border-radius: 8px;
}

.ellipse-4{
    position: absolute;
    width: 15px;
    height: 15px;
    
}

.label-top{
    width: 90px;
    height: 16px;

    /* Alternative/Caption */

    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    /* identical to box height, or 133% */

    letter-spacing: 0.2px;

    /* Typography/On Surface/Medium Emphasis */

    color: rgba(39, 41, 54, 0.45);



    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.input-master{
    box-sizing: border-box;

    width: 85%;
    height: 50%;

    background: #FFFFFF;
    /* Gray/40 */

    border: 1px solid #DFE3EA;
    border-radius: 3px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.input-master-box{
    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px 10px 5px 12px;
    gap: 16px;

    width: 85%;
    height: 50%;

    background: #FFFFFF;
    /* Gray/40 */

    border: 1px solid #DFE3EA;
    border-radius: 3px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.font{
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 20px;
/* or 143% */


/* Typography/On Surface/Medium Emphasis */

color: rgba(39, 41, 54, 0.45);
}

.small_font{
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 8px;
    line-height: 0px;
    letter-spacing: 1.5px;
    text-transform: capitalize;
/* or 143% */


/* Typography/On Surface/Medium Emphasis */

color: rgba(39, 41, 54, 0.45);
}

.input-1{
    display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 0px;
font-size: 10.5px;
gap: 4px;

position: absolute;
width: 30%;
height: 52px;
/* left: 48px;
top: 84px; */

border-radius: 0px;
}

.button-master{
    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-family: 'Ubuntu';
    padding: 9px 8px 7px;
    color: #FFFFFF;

    position: absolute;
    width: 180px;
    height: 32px;


    /* Primary/Palette/Primary */

    background: #12ABDB;
    border: 1px solid #0E88AF;
    border-radius: 4px;
}

.group11{
    position: absolute;
    width: 23%;
    height: auto;
}

.proceed-btn{
    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    padding: 7px 8px;

    width: 130px;
    height: 30px;

    /* Primary/Palette/Primary */

    background: #12ABDB;
    border: 1px solid #0E88AF;
    border-radius: 4px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    
    font-family: 'Ubuntu';
    font-style: normal;
    font-size: 13px;
    line-height: 16px;
    padding-left: 36px;
    /* identical to box height, or 114% */

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.75px;
    margin-left: 30px;
    text-transform: capitalize;
    /* Primary/Palette/Primary */

    color: white;
}

input[type="radio"]{
    margin: 30px 5px 30px 50px;
}
.info{
    display: none;
}

.scr-h1{
    /* Subtitle/Subtitle 01 */

    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 24px;
    margin-top: 2%;
    /* or 150% */

    letter-spacing: 0.15px;

    /* Typography/On Surface/High Emphasis */

    color: rgba(39, 41, 54, 0.85);
}

.scr-h1-1{
    /* Subtitle/Subtitle 01 */

    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    color: #FFFFFF;
    line-height: 24px;
    margin-top: 2%;
    /* or 150% */

    letter-spacing: 0.15px;

    /* Typography/On Surface/High Emphasis */

}

.session_box{
    height: 160px;
    width: 220px;
    border-color: #DFE3EA;
    margin-left:18px;
    font-size: 14px;
    font-family: 'Ubuntu';
    text-align: left;
    font-weight: 500;
    color: gray;
    padding-left: 20px;
    border-radius: 8px;
    background-color: #FFFFFF;

    box-shadow: 0px 12px 17px rgba(0, 67, 103, 0.14), 0px 5px 22px rgba(0, 67, 103, 0.12), 0px 7px 8px rgba(0, 67, 103, 0.2);
    border-radius: 8px;
}

.button-assessment{
    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    font-size: 12px;
    font-weight: 500;
    font-family: 'Ubuntu';
    flex-direction: row;
    margin-left: 800px;
    justify-content: center;
    align-items: center;
    color: #12ABDB;
    padding: 9px 8px 7px;

    position: absolute;
    width: 200px;
    height: 35px;


    /* Primary/Palette/Primary */

    background: #F4F4F4;
    border: 1px solid #0E88AF;
    border-radius: 4px;
}

.logout-assessment{
    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    font-size: 12px;
    font-weight: 500;
    margin-top: 10px;
    font-family: 'Ubuntu';
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #12ABDB;
    padding: 9px 8px 7px;

    position: absolute;
    width: 200px;
    height: 35px;


    /* Primary/Palette/Primary */

    background: #F4F4F4;
    border: 1px solid #0E88AF;
    border-radius: 4px;
}

.result-box{
    position: absolute;
    width: 800px;
    height: 250px;
    left: 230px;
    top: 210px;
    border-radius: 8px;

    background: #FFFFFF;
    /* Elevation/03 */

    box-shadow: 0px 12px 17px rgba(0, 67, 103, 0.19), 0px 5px 22px rgba(0, 67, 103, 0.19), 0px 7px 8px rgba(0, 67, 103, 0.6);
    border-radius: 8px;
}

.result-text{
    height: 46px;
    width: 915px;
    padding-left: 430px;
    padding-top: 80px;
    font-family: 'Ubuntu';
    font-size: 30px;
    font-weight: 500;
}

.result-text-2{
    height: 46px;
    width: 915px;
    padding-left: 420px;
    padding-top: 80px;
    font-family: 'Ubuntu';
    font-size: 30px;
    font-weight: 500;
}

.result-button1{
    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    font-size: 12px;
    font-weight: 500;
    font-family: 'Ubuntu';
    flex-direction: row;
    margin-left: 380px;
    margin-top: 100px;
    justify-content: center;
    align-items: center;
    color: #12ABDB;
    padding: 9px 8px 7px;

    position: absolute;
    width: 180px;
    height: 30px;


    /* Primary/Palette/Primary */

    background: #FFFFFF;
    border: 1px solid #0E88AF;
    border-radius: 4px;

}

.result-button2{
    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    font-size: 12px;
    font-weight: 500;
    font-family: 'Ubuntu';
    flex-direction: row;
    margin-left: 570px;
    margin-top: 100px;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    padding: 9px 8px 7px;

    position: absolute;
    width: 200px;
    height: 30px;


    /* Primary/Palette/Primary */

    background: #12ABDB;
    border: 1px solid #0E88AF;
    border-radius: 4px;

}

.result-png{
    position: absolute;
    width: 240px;
    height: 210px;
    left: 60px;
    top: 25px;
}


.result-png-1{
    position: absolute;
    width: 250px;
    height: 280px;
    left: 40px;
    top: -45px;
}

.result-instruction{
    position: absolute;
    height: 16px;
    left: 15.2%;
    right: 476px;
    top: 70%;
    width: 800px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 16px;
    /* identical to box height, or 160% */

    letter-spacing: 0.4px;

    /* Typography/Dark Background/High Emphasis */

    color: rgba(255, 255, 255, 0.95);
}

.summary-button1{
    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    font-size: 12px;
    font-weight: 500;
    font-family: 'Ubuntu';
    flex-direction: row;
    margin-left: 700px;
    top: 4%;
    justify-content: center;
    align-items: center;
    color: #12ABDB;
    padding: 9px 8px 7px;

    position: absolute;
    width: 170px;
    height: 30px;


    /* Primary/Palette/Primary */

    background: #0cccc;
    border: 1px solid #0E88AF;
    border-radius: 4px;
}

.summary-button2{
    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    font-size: 12px;
    font-weight: 500;
    top: 2%;
    font-family: 'Ubuntu';
    flex-direction: row;
    margin-left: 880px;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    padding: 9px 8px 7px;

    position: absolute;
    width: 190px;
    height: 30px;


    /* Primary/Palette/Primary */

    background: #0E88AF;
    border: 1px solid #0E88AF;
    border-radius: 4px;
}

.user-info1{
    position: absolute;
    width: 75%;
    height: 720px;
    left: 12.3%;
    font-family: 'Ubuntu';
    color: #FFFFFF;
    font-size: 14px;
    top: 80px;

}

.user-info2{
    position: absolute;
    width: 75%;
    height: 720px;
    left: 13.3%;
    font-family: 'Ubuntu';
    color: #FFFFFF;
    font-size: 14px;
    top: 225px;

}

/* Risk box 1*/
.risk-clickable-box1{
    position: absolute;
    height: 222px;
    width: 267px;
    left: 168px;
    top: 162px;
    border-radius: 8px;
    box-shadow: 0px 12px 17px rgba(0, 67, 103, 0.14), 0px 5px 22px rgba(0, 67, 103, 0.12), 0px 7px 8px rgba(0, 67, 103, 0.2);
    background: #FFFFFF;
}

.risk-clickable-box1:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.11);
  transition: .6s ease;
}

.inside-risk-clickable-box1{
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 65.32%;

    /* Grey Scale/Grey 2 */

    background: #F4F4F4;
    border-radius: 8px 8px 0px 0px;

}


/* Risk box 2*/
.risk-clickable-box2{
    position: absolute;
    height: 222px;
    width: 267px;
    left: 470px;
    top: 162px;
    box-shadow: 0px 12px 17px rgba(0, 67, 103, 0.19), 0px 5px 22px rgba(0, 67, 103, 0.19), 0px 7px 8px rgba(0, 67, 103, 0.6);
    border-radius: 8px;
    background: #FFFFFF;
}

.risk-clickable-box2:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.11);
  transition: .6s ease;
}

.inside-risk-clickable-box2{
    position: absolute;
    height: 50px;
    width: 268px;
    left: 0px;
    top: 0px;
    border-radius: 8px;
    background: #EBEBEB;
}

/* Risk box 3*/
.risk-clickable-box3{
    position: absolute;
    height: 222px;
    width: 267px;
    left: 772px;
    top: 162px;
    border-radius: 8px;
    background: #FFFFFF;
    box-shadow: 0px 12px 17px rgba(0, 67, 103, 0.19), 0px 5px 22px rgba(0, 67, 103, 0.19), 0px 7px 8px rgba(0, 67, 103, 0.6);
}

.risk-clickable-box3:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.11);
  transition: .6s ease;
}

.inside-risk-clickable-box3{
    position: absolute;
    height: 50px;
    width: 268px;
    left: 0px;
    top: 0px;
    border-radius: 8px;
    background: #EBEBEB;
}


/* Risk box 4*/
.risk-clickable-box4{
    position: absolute;
    height: 222px;
    width: 267px;
    left: 168px;
    top: 408px;
    border-radius: 8px;
    background: #FFFFFF;
    box-shadow: 0px 12px 17px rgba(0, 67, 103, 0.19), 0px 5px 22px rgba(0, 67, 103, 0.19), 0px 7px 8px rgba(0, 67, 103, 0.6);
}

.risk-clickable-box4:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.11);
  transition: .6s ease;
}

.inside-risk-clickable-box4{
    position: absolute;
    height: 50px;
    width: 268px;
    left: 0px;
    top: 0px;
    border-radius: 8px;
    background: #EBEBEB;
}


/* Risk box 5*/
.risk-clickable-box5{
    position: absolute;
    height: 222px;
    width: 267px;
    left: 470px;
    top: 408px;
    border-radius: 8px;
    background: #FFFFFF;
    box-shadow: 0px 12px 17px rgba(0, 67, 103, 0.19), 0px 5px 22px rgba(0, 67, 103, 0.19), 0px 7px 8px rgba(0, 67, 103, 0.6);
}
.risk-clickable-box5:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.11);
  transition: .6s ease;
}

.inside-risk-clickable-box5{
    position: absolute;
    height: 50px;
    width: 268px;
    left: 0px;
    top: 0px;
    border-radius: 8px;
    background: #EBEBEB;
}

/* Risk box 6*/
.risk-clickable-box6{
    position: absolute;
    height: 222px;
    width: 267px;
    left: 772px;
    top: 408px;
    border-radius: 8px;
    background: #FFFFFF;
    box-shadow: 0px 12px 17px rgba(0, 67, 103, 0.19), 0px 5px 22px rgba(0, 67, 103, 0.19), 0px 7px 8px rgba(0, 67, 103, 0.6);
}
.risk-clickable-box6:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.11);
  transition: .6s ease;
}

.inside-risk-clickable-box6{
    position: absolute;
    height: 50px;
    width: 268px;
    left: 0px;
    top: 0px;
    border-radius: 8px;
    background: #EBEBEB;
}


/* Risk box 7*/
.risk-clickable-box7{
    position: absolute;
    height: 224px;
    width: 264px;
    left: 168px;
    top: 750px;
    border-radius: 8px;
    background: #FFFFFF;
    box-shadow: 0px 12px 17px rgba(0, 67, 103, 0.19), 0px 5px 22px rgba(0, 67, 103, 0.19), 0px 7px 8px rgba(0, 67, 103, 0.6);
}
.risk-clickable-box7:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.11);
  transition: .6s ease;
}

.inside-risk-clickable-box7{
    position: absolute;
    height: 50px;
    width: 280px;
    left: 0px;
    top: 0px;
    border-radius: 8px;
    background: #EBEBEB;
}

/* Risk box 8*/
.risk-clickable-box8{
    position: absolute;
    height: 224px;
    width: 264px;
    left: 470px;
    top: 750px;
    border-radius: 8px;
    background: #FFFFFF;
    box-shadow: 0px 12px 17px rgba(0, 67, 103, 0.19), 0px 5px 22px rgba(0, 67, 103, 0.19), 0px 7px 8px rgba(0, 67, 103, 0.6);
}
.risk-clickable-box8:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.11);
  transition: .6s ease;
}

.inside-risk-clickable-box8{
    position: absolute;
    height: 50px;
    width: 280px;
    left: 0px;
    top: 0px;
    border-radius: 8px;
    background: #EBEBEB;
}

.risk-summary-gdpr-button{
    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Ubuntu';
    flex-direction: row;
    margin-left: 650px;
    justify-content: center;
    align-items: center;
    color: #12ABDB;
    top: 960px;
    padding: 9px 8px 7px;

    position: absolute;
    width: 240px;
    height: 40px;


    /* Primary/Palette/Primary */

    background: #F4F4F4;
    border: 1px solid #0E88AF;
    border-radius: 4px;
}

.risk_summary_steps{
    display: flex;.
    position: absolute;
    font-size: 14px;
    font-weight: 500;
    margin-left: 28px;
    margin-top: 15px;
    color: #808080;
}

.risk_summary_title{
    display: flex;
    position: absolute;
    font-size: 14px;
    font-weight: 500;
    margin-left: 20px;
    top:5px;
    padding: 10px;
    color: black;
}

.risk-details1{
    display: flex;
    position: absolute;
    font-size: 12px;
    font-weight: 500;
    color: #A6A6A6;
    left: 36px;
    top:63px;
}

.risk-details2{
    display: flex;
    position: absolute;
    font-size: 12px;
    font-weight: 500;
    color: #A6A6A6;
    left: 36px;
    top:115px;
}

.risk-details3{
    display: flex;
    position: absolute;
    font-size: 13px;
    font-weight: 500;
    color: #A6A6A6;
    left: 36px;
    color: black;
    top:170px;
}

.num_risk1{
    display: flex;
    position: absolute;
    font-size: 12px;
    font-weight: 500;
    color: black;
    left: 0px;
    top:20px;
}

.num_risk2{
    display: flex;
    position: absolute;
    font-size: 12px;
    font-weight: 500;
    color: black;
    left: 0px;
    top:20px;
}

.num_risk3{
    display: flex;
    position: absolute;
    font-size: 28px;
    font-weight: 500;
    left: 0px;
    color: #525252;
    top:20px;
}

.gdpr_font1{
    font-size: 20px;
    font-weight: 450;
    font-family: 'Ubuntu';
    margin-top: 24px;
    margin-left: 24px;
    color: rgba(39, 41, 54, 0.85);



}


.gdpr_font_title_1{
    position: absolute;
    font-size: 12px;
}

.summary_details_box_1{
    width: 960px;
    height: 560px;
    left: 13%;
    top: 200px;

    background: #FFFFFF;
    /* Elevation/03 */

    box-shadow: 0px 12px 17px rgba(0, 67, 103, 0.19), 0px 5px 22px rgba(0, 67, 103, 0.19), 0px 7px 8px rgba(0, 67, 103, 0.6);
    border-radius: 8px;
}

.summary_details_box_2{
    position: absolute;
    width: 960px;
    height: 490px;
    left: 13%;
    top: 715px;

    background: #FFFFFF;
    /* Elevation/03 */

    box-shadow: 0px 12px 17px rgba(0, 67, 103, 0.14), 0px 5px 22px rgba(0, 67, 103, 0.12), 0px 7px 8px rgba(0, 67, 103, 0.2);
    border-radius: 8px;
}

.inside-summary-box1{
    display: flex;
    font-size: 18px;
    font-weight: bold;
    margin-left: 45px;
    margin-top: 15px;

}

.issue_definition{
    display: flex;
    font-size: 14px;
    margin-left: 45px;
    font-family: 'Ubuntu';
    margin-top: 10px;
}

.issue_definition1{
    display: flex;
    font-size: 14px;
    margin-left: 45px;
    font-family: 'Ubuntu';
    margin-top: 20px;
}

.summary-text-box-1{
    display: flex;
    font-size: 14px;
    width: 90%;
    font-weight: bold;
    background-color: transparent;
    border: 0px solid;
    height:auto;
    margin-left: 33px;
    padding-left:10px;
    padding-top:6px;
    font-family: 'Ubuntu';
    border-style: ridge;
}

.input-box-1{
    display: flex;
    width: 90%;
    height:80px;
    font-size: 12px;
    padding-bottom:50px;
    padding-left:10px;
    margin-left: 45px;
}

.login-box{
    position: absolute;
    width: 200px;
    height: 280px;
    left: 500px;
    top: 150px;
    border-radius: 8px;

    background: #FFFFFF;
    /* Elevation/03 */

    box-shadow: 0px 12px 17px rgba(0, 67, 103, 0.19), 0px 5px 22px rgba(0, 67, 103, 0.19), 0px 7px 8px rgba(0, 67, 103);
    border-radius: 8px;
}

.logout-box-col{
    position: absolute;
    height: 320px;
    width: 620px;
    left: 590px;
    top: 170px;
    border-radius: 8px;

    background: rgba(245, 245, 248);
    /* Elevation/03 */

    box-shadow: 0px 12px 17px rgba(0, 67, 103, 0.19), 0px 5px 22px rgba(0, 67, 103, 0.19), 0px 7px 8px rgba(0, 67, 103, 0.6);
    border-radius: 8px;
}

.login-text-box-1{
    position: absolute;
    width: 250px;
    height: 32px;
    left: 75px;
    top: 100px;
    font-size: 12px;
    padding-left:10px;
    border-radius: 4px;
    border: groove;
    font-family: 'Ubuntu';
}

.login-text-box-2{
    position: absolute;
    width: 250px;
    height: 32px;
    left: 75px;
    top: 160px;
    margin-top: 10px;
    font-size: 12px;
    padding-left:10px;
    border-radius: 4px;
    border: groove;
    font-family: 'Ubuntu';
}

.login-submit{
    position: absolute;
    width: 300px;
    height: 40px;
    left: 38px;
    top: 185px;
    background: #12ABDB;
    font-size: 16px;
    color: #FFFFFF;
    border-radius: 8px;
    border-color: #12ABDB;
    font-family: 'Ubuntu';
}


.login-text-top{
    position: absolute;
    width: 380px;
    height: 50px;
    left: 587px;
    top: 140px;
    color: #FFFFFF;
    font-size: 28px;
    font-family: 'Ubuntu';
}

.create-session{
    height: 160px;
    width: 220px;
    left: 204px;
    margin-top: 20px;
    border-color: #DFE3EA;
    margin-left:18px;
    font-size: 18px;
    padding-left: 50px;
    color: #12ABDB;
    padding-top: 40px;
    font-family: 'Ubuntu';
    text-align: left;
    font-weight: 500;
    border-radius: 8px;
    background-color: #FFFFFF;

    box-shadow: 0px 12px 17px rgba(0, 67, 103, 0.14), 0px 5px 22px rgba(0, 67, 103, 0.12), 0px 7px 8px rgba(0, 67, 103, 0.2);
    border-radius: 8px;
}

.gdpr_top_label1{
    position: absolute;
    width: 75%;
    height: 720px;
    left: 13.3%;
    font-family: 'Ubuntu';
    color: #FFFFFF;
    letter-spacing: 1.5px;
    text-transform: capitalize;
    font-size: 12px;
    top: 168px;

}

.gdpr_top_label2{
    position: absolute;
    width: 75%;
    height: 720px;
    left: 13.3%;
    font-family: 'Ubuntu';
    color: #FFFFFF;
    letter-spacing: 1.5px;
    text-transform: capitalize;
    font-size: 12px;
    top: 190px;

}

.gdpr_report_box{
    position: absolute;
    width: 950px;
    height: 320px;
    left: 10.3%;
    top: 25%;

    background: #FFFFFF;
    /* Elevation/03 */

    box-shadow: 0px 12px 17px rgba(0, 67, 103, 0.19), 0px 5px 22px rgba(0, 67, 103, 0.19), 0px 7px 8px rgba(0, 67, 103, 0.6);
    border-radius: 8px;
}

.gdpr-steps-div{
    position: static;
    width: 740px;
    height: 20px;
    font-size: 12px;
}

.gdpr_text_box_1{
    position: flex;
    width: 760px;
    height: 170px;
    padding:10px;
    border: groove;
    font-size: 10px;
}

.gdpr_text_box_1_1{
    width: 830px;
    height: 170px;
    padding:5px;
    border: groove;
    text-align: left;
    font-size: 12px;
}

.gdpr_text_box_no_border{
    position: flex;
    width: 860px;
    height: 270px;
    padding:10px;
    padding-bottom: 170px;
    font-size: 10px;
}

.paragraph-text{
    font-family: 'Ubuntu';
    font-size: 12px;
    font-style: normal;
    display: inline;

}

.paragraph-text2{
    font-family: 'Ubuntu';
    font-size: 12px;
    margin-top: -10px;

}

.gdpr_text_box_2{
    position: flex;
    width: 760px;
    height: 130px;
    padding:10px;
    padding-bottom: 100px;
    font-size: 10px;
}

.gdpr-button1{
    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    font-size: 12px;
    font-weight: 500;
    font-family: 'Ubuntu';
    flex-direction: row;
    margin-left: 700px;
    top: 2%;
    justify-content: center;
    align-items: center;
    color: #12ABDB;
    padding: 9px 8px 7px;
    padding-bottom: 11px;

    position: absolute;
    width: 170px;
    height: 30px;


    /* Primary/Palette/Primary */

    background: #F4F4F4;
    border: 1px solid #0E88AF;
    border-radius: 4px;
}


.gdpr-button2{
    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    font-size: 12px;
    font-weight: 500;
    top: 2%;
    font-family: 'Ubuntu';
    flex-direction: row;
    margin-left: 880px;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    padding: 9px 8px 7px;
    padding-bottom: 11px;

    position: absolute;
    width: 190px;
    height: 30px;


    /* Primary/Palette/Primary */

    background: #0E88AF;
    border: 1px solid #0E88AF;
    border-radius: 4px;
}

.gdpr-submit-btn{
    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    font-size: 12px;
    font-weight: 500;
    top: 20%;
    margin-top: 110px;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    font-family: 'Ubuntu';
    flex-direction: row;
    width: 100px;
    height: 30px;


    /* Primary/Palette/Primary */

    background: #0E88AF;
    border: 1px solid #0E88AF;
    border-radius: 4px;
}

.form-select-custom1{

    display: flex;
    font-size: 13px;
    top: 2%;
    font-family: 'Ubuntu';
    width: 300px;
    height: 35px;
    margin-left: 15px;
}

.dpa_checkbox1{
    display: flex;
    font-size: 14px;

    font-family: 'Ubuntu';
    width: 20px;
    height: 10px;
}

.dpa_checkbox2{
    font-size: 12px;
    background-color: black;
    font-family: 'Ubuntu';
    width: 10px;
    height: 10px;
}

.col-sm-checkbox{
    display: flex;
    margin-top: 20px;
    font-size: 12px;
    margin-left: -48px;
    font-family: 'Ubuntu';
    width: 290px;
    height: 60px;
}


.text-box-1{
    display: flex;
    margin-top: 10px;
    font-size: 10px;
    font-family: 'Ubuntu';
    width: 175px;
    height: 26px;
}

.status-box{
    position: flex;
    height: 320px;
    width: 800px;
    margin-left: 230px;
    margin-top: 125px;
    border-radius: 8px;

    background: #FFFFFF;
    /* Elevation/03 */

    box-shadow: 0px 12px 17px rgba(0, 67, 103, 0.19), 0px 5px 22px rgba(0, 67, 103, 0.19), 0px 7px 8px rgba(0, 67, 103, 0.6);
    border-radius: 8px;
}


.login-box{
    position: flex;
    height: 400px;
    width: 900px;
    margin-left: -300px;
    margin-right: 50px;

    background: rgba(245, 245, 248);
    /* Elevation/03 */

    box-shadow: 0px 12px 17px rgba(0, 67, 103, 0.19), 0px 5px 22px rgba(0, 67, 103, 0.19), 0px 7px 8px rgba(0, 67, 103);
    border-radius: 8px;
}


.status-png{
    width: 260px;
    height: 250px;
    margin-left: 40px;
    margin-top: -100px;
}

.status-png-password{
    width: 310px;
    height: 300px;
    margin-left: 20px;
    margin-top: -50px;
}

.status-button1{
    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    font-size: 12px;
    font-weight: 500;
    font-family: 'Ubuntu';
    flex-direction: row;
    margin-left: 370px;
    margin-top: 120px;
    justify-content: center;
    align-items: center;
    color: #12ABDB;
    padding: 9px 8px 7px;

    position: absolute;
    width: 170px;
    height: 30px;


    /* Primary/Palette/Primary */

    background: #FFFFFF;
    border: 1px solid #0E88AF;
    border-radius: 4px;

}


.login-button1{
    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    font-size: 12px;
    font-weight: 500;
    font-family: 'Ubuntu';
    flex-direction: row;
    margin-left: 380px;
    margin-top: 120px;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    padding: 9px 8px 7px;

    position: absolute;
    width: 120px;
    height: 30px;


    /* Primary/Palette/Primary */

    background: #12ABDB;
    border: 1px solid #0E88AF;
    border-radius: 4px;

}

.login-button111{
    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    font-size: 12px;
    font-weight: 500;
    font-family: 'Ubuntu';
    flex-direction: row;
    margin-left: -320px;
    margin-top: 90px;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    padding: 9px 8px 7px;

    position: absolute;
    width: 295px;
    height: 35px;


    /* Primary/Palette/Primary */

    background: #12ABDB;
    border: 1px solid #0E88AF;
    border-radius: 4px;

}


.status-button2{
    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    font-size: 12px;
    font-weight: 500;
    font-family: 'Ubuntu';
    flex-direction: row;
    margin-left: 550px;
    margin-top: 120px;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    padding: 9px 8px 7px;

    position: absolute;
    width: 180px;
    height: 30px;


    /* Primary/Palette/Primary */

    background: #12ABDB;
    border: 1px solid #0E88AF;
    border-radius: 4px;

}

.status-msg{
    position: flex;
    height: 25px;
    width: 300px;
    margin-left: 380px;
    font-size: 14px;
    color: #A8A8A8;
    font-family: 'Ubuntu';
    margin-top: 60px;
    border-radius: 8px;
}


.status-text{
    height: 46px;
    width: 915px;
    padding-left: 330px;
    padding-top: 50px;
    font-family: 'Ubuntu';
    font-size: 30px;
    font-weight: 500;
}

.status-button3{
    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    font-size: 12px;
    font-weight: 500;
    font-family: 'Ubuntu';
    flex-direction: row;
    margin-left: 380px;
    margin-top: 120px;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    padding: 9px 8px 7px;

    position: absolute;
    width: 180px;
    height: 30px;


    /* Primary/Palette/Primary */

    background: #12ABDB;
    border: 1px solid #0E88AF;
    border-radius: 4px;

}

.login-inside{
    height: 100%;
    width: 50%;
    padding-left: 330px;
    padding-top: 50px;
    font-family: 'Ubuntu';
    font-size: 30px;
    background-color: #FFFFFF;
    font-weight: 500;
    border-radius: 8px;

}

.logout-button1{
    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    font-size: 12px;
    font-weight: 500;
    font-family: 'Ubuntu';
    flex-direction: row;
    margin-left: 380px;
    margin-top: 90px;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    padding: 9px 8px 7px;

    position: absolute;
    width: 120px;
    height: 30px;


    /* Primary/Palette/Primary */

    background: #12ABDB;
    border: 1px solid #0E88AF;
    border-radius: 4px;

}

.login-right{
    height: 80%;
    width: 240px;
    margin-top: -150px;
    margin-left: 200px;
    font-family: 'Ubuntu';
    font-size: 30px;
    font-weight: 500;
    border-radius: 8px;

}

.login-png{
    width: 350px;
    height: 350px;
    margin-left: -40px;
    margin-top: -210px;
}


.login1-button1{
    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    font-size: 13px;
    font-weight: 500;
    font-family: 'Ubuntu';
    flex-direction: row;
    margin-left: 75px;
    margin-top: 90px;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    padding: 9px 8px 7px;

    position: absolute;
    width: 150px;
    height: 30px;


    /* Primary/Palette/Primary */

    background: #12ABDB;
    border: 1px solid #0E88AF;
    border-radius: 4px;

}

.btn-close {
  box-sizing: content-box;
  width: 10px;
  height: 30px;
  padding: 0.25em 0.25em;
  color: #000;
  background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat;
  border: 0;
  border-radius: 0.25rem;
  opacity: 0.5;
}
.btn-close:hover {
  color: #000;
  text-decoration: none;
  opacity: 0.75;
}
.btn-close:focus {
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
  opacity: 1;
}
.btn-close:disabled, .btn-close.disabled {
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  opacity: 0.25;
}

.btn-close-white {
  filter: invert(1) grayscale(100%) brightness(200%);
}

.inside_div{
  width: 60px;
  height: 20px;
  background-color: black;
}

.session_div_out{
    display: table-cell;
    height: 200px;
    width: 260px;
    margin-left: 18px;
    font-family: 'Ubuntu';
    left: 168px;
    spacing: 10px;
    float: left;
    border-radius: 8px;
    margin-top: 20px;
    background-color: #FFFFFF;

    box-shadow: 0px 12px 17px rgba(0, 67, 103, 0.19), 0px 5px 22px rgba(0, 67, 103, 0.19), 0px 7px 8px rgba(0, 67, 103, 0.6);

}

.top-label-div{
    height: 50px;
    width: 100%;
    left: 0px;
    top: 0px;
    align: center;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    background: #EBEBEB;
}

.session_steps{
    display: flex;.
    position: absolute;
    font-size: 14px;
    font-weight: 500;
    align-item: center;
    padding: 13px;
    color: black;
}

.session-date{
    display: flex;.
    position: absolute;
    font-size: 12px;
    margin-top: 25px;
    font-weight: 500;
    margin-left: 20px;
    color: #272936D9;

}

.session-png{
    height: 100px;
    width: 100px;
    margin-top: 40px;
    margin-left: 80px;

}

.session-text{
    margin-top: 20px;
    margin-left: 60px;
    font-family: 'Ubuntu';
    font-size: 12px;
    font-weight: 500;
}

.warning-div{
    height: 50px;
    width: 790px;
    font-size: 14px;
    font-family: 'Ubuntu';
    background-color: #FFF7FA;
    padding: 15px;
    margin-bottom: 20px;
}

.dpia-title{
    height: 50px;
    width: 350px;
    font-weight: 500;
    margin-top: -22px;
    text-align: center;
    margin-left: -15px;
    font-size: 18px;
    font-family: 'Ubuntu';
}

.bar-png{
    height: 25px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.bar-png11{
    height: 24px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.bar2-png{
    height: 25px;
    width: 1277px;.
    margin-bottom: -930px;
    margin-left: -280px
}

.bar-png3{
    height: 25px;
    width: 1263px;
    bottom: 0px;
    position: fixed;
}

.bar-png33{
    height: 25px;
    left: 0;
    margin-bottom : -2500px;
    width: 100%;
}

.bar-png4{
    height: 25px;
    width: 1263px;
    bottom: 0px;
    position: fixed;
}

.bar-png5{
    height: 25px;
    width: 1263px;
    margin-left: -150px;
    margin-bottom: -1850px;
}

.bar-png6{
    height: 25px;
    width: 100%;
    position: fixed;
    margin-left: -150px;
    bottom: 0px;
}

.bar-png60{
    height: 25px;
    width: 100%;
    position: fixed;
    margin-left: -150px;
    bottom: 0px;
}

.bar-png-logout{
    height: 25px;
    width: 1280px;
    margin-bottom: -155px;
}

.logout-box{
    position: flex;
    height: 320px;
    width: 800px;
    margin-left: 230px;
    margin-top: 80px;
    border-radius: 8px;

    background: #FFFFFF;
    /* Elevation/03 */

    box-shadow: 0px 12px 17px rgba(0, 67, 103, 0.14), 0px 5px 22px rgba(0, 67, 103, 0.12), 0px 7px 8px rgba(0, 67, 103, 0.2);
    border-radius: 8px;
}

.bar-png-gdpr{
    height: 25px;
    width: 1263px;
    margin-left: -150px;
    bottom: 0px;
}

.bar-png-forget{
    position: fixed;
    height: 25px;
    width: 1430px;
    margin-left: -150px;
    bottom: 0px;
    }

.forget-box{
    position: flex;
    height: 320px;
    width: 800px;
    margin-left: 230px;
    margin-top: 130px;
    border-radius: 8px;

    background: #FFFFFF;
    /* Elevation/03 */

    box-shadow: 0px 12px 17px rgba(0, 67, 103, 0.19), 0px 5px 22px rgba(0, 67, 103, 0.19), 0px 7px 8px rgba(0, 67, 103, 0.6);
    border-radius: 8px;
}

.bar-png-status{
    height: 25px;
    width: 1430px;
    margin-left: -150px;
    margin-bottom: -136px;
}

.rect-4-index{
    position: absolute;
    width: 850px;
    height: 320px;
    left: 15%;
    top: 35%;

    background: #FFFFFF;
    /* Elevation/03 */

    box-shadow: 0px 12px 17px rgba(0, 67, 103, 0.19), 0px 5px 22px rgba(0, 67, 103, 0.19), 0px 7px 8px rgba(0, 67, 103, 0.6);
    border-radius: 8px;
}


.body-class{
    height: 100%;
    width: 100%;
    background-image: linear-gradient(3.47deg, #00649B 13.28%, #66A9CD 93.28%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
}

.body-class-no-bg{
    height: 100%;
    width: 100%;
}

.col-text-1 {
  color: black;
  font-size: 15px;
  /* padding: 8px 12px; */
  position: absolute;
  bottom: 85%;
  left: 10%;
  width: 30%;
  text-align: left;
}

.col-text-2 {
  color: #f2f2f2;
  font-size: 15px;
  /* padding: 8px 12px; */
  position: absolute;
  bottom: 65%;
  left: 10%;
  width: 100%;
  text-align: left;
}

.col-text-3 {
  color: #f2f2f2;
  font-size: 15px;
  /* padding: 8px 12px; */
  position: absolute;
  bottom: 65%;
  left: 10%;
  width: 100%;
  text-align: left;
}

.dot {
  height: 10px;
  width: 10px;
  margin-top: 17px;
  border-radius: 50%;
  display: inline-block;
}

.score-count-msg{
    height: 20px;
    width: 800px;
    font-family: 'Ubuntu';
    font-size: 22px;
    font-weight: bold;
    margin-left: 35px;
    margin-top: 50px;
    color: white;
}


.ub-font{
    font-weight: bold;
}


.outer-div{
    height: 300px;
    width: 1031px;
    margin-left: 120px;
    margin-top: 100px;
    border-radius: 8px;
    background-color: #FFFFFF;

    box-shadow: 0px 12px 17px rgba(0, 67, 103, 0.14), 0px 5px 22px rgba(0, 67, 103, 0.12), 0px 7px 8px rgba(0, 67, 103, 0.2);
}

.inner-div{
    height: 240px;
    margin-left: 20px;
    margin-top: 20px;
    float: left;
    width: 290px;

}

.inner-div-right{
    height: 255px;
    margin-top: 20px;
    float: right;
    width: 500px;
    margin-right: 20px;

}

.img-temp{
    height: 240px;
    width: 280px;
    margin-top: 20px;
}


.approve-font{
    font-family: Ubuntu;
    font-size: 34px;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: 0px;
    text-align: left;
    margin-top: 20px;

}


.approve-text{
    width: 370px;
}

.button-final{
    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    font-size: 12px;
    font-weight: 500;
    font-family: 'Ubuntu';
    flex-direction: row;
    margin-left: 280px;
    margin-top: 80px;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    padding: 9px 8px 7px;

    position: absolute;
    width: 180px;
    height: 30px;


    /* Primary/Palette/Primary */

    background: #12ABDB;
    border: 1px solid #0E88AF;
    border-radius: 4px;

}

.button-final-2{
    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    font-size: 12px;
    font-weight: 500;
    font-family: 'Ubuntu';
    flex-direction: row;
    margin-left: 80px;
    margin-top: 80px;
    justify-content: center;
    align-items: center;
    color: #12ABDB;
    padding: 9px 8px 7px;

    position: absolute;
    width: 180px;
    height: 30px;


    /* Primary/Palette/Primary */

    background: #FFFFFF;
    border: 1px solid #0E88AF;
    border-radius: 4px;

}

.input-box-1-1{
    display: flex;
    width: 20%;
    height:5px;
    font-size: 12px;
    padding-bottom:50px;
    padding-left:10px;
    margin-left: 45px;
}

.ropa{
    margin-left: 140px;
    margin-top: -40px;
    width: 308px%;
    height:308px;

}

.users{
    margin-left: 100px;
    margin-top: 100px;
    width: px%;
    height:px;
}

.rect-4-index font{
    min-height:1000px;
    width: 800px;
    left: 204px;
    top: 186px;
    bottom: -10px;
    position: absolute;
    border-radius: 8px;

}

.org{
    position: absolute;
    width: 261px;
    height: 19px;
    left: 36px;
    top: 30px;

    /* Subtitle/Subtitle 01 */

    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */

    letter-spacing: 0.15px;

    /* Typography/On Surface/High Emphasis */

    color: rgba(39, 41, 54, 0.85);

}

.controller{
    position: absolute;
    width: 261px;
    height: 19px;
    left: 78px;
    top: 290px;

    /* Subtitle/Subtitle 01 */

    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */

    letter-spacing: 0.15px;

    /* Typography/On Surface/High Emphasis */

    color: rgba(39, 41, 54, 0.85);

}

.dpo{

    width: 143px;
    height: 24px;


    /* Subtitle/Subtitle 01 */

    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    left: 80px;
    top: 45px;
    /* identical to box height, or 150% */

    letter-spacing: 0.15px;

    /* Typography/On Surface/High Emphasis */

    color: rgba(39, 41, 54, 0.85);


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.us {
    position: absolute;
    width: 271px;
    height: 25px;
    right: -20px;
    top: 45px;

    /* Alternative/Caption */

    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    /* or 133% */

    display: flex;
    align-items: center;
    letter-spacing: 0.2px;

    /* Typography/On Surface/Medium Emphasis */

    color: rgba(39, 41, 54, 0.45);
 }


.tit{
    position: absolute;
    left: 2.72%;
    right: 0%;
    top: 1%;
    bottom: 59.09%;

    /* Alternative/Caption */

    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    /* or 133% */

    letter-spacing: 0.2px;

    /* Primary/Palette/Primary 2 */

    color: #0070AD;


}

.nav-link scrollto{
    position: absolute;
    left: 82.22%;
    right: 14.24%;
    top: 38.89%;
    bottom: 38.89%;

    /* Alternative/Button */

    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    /* identical to box height, or 114% */

    text-align: center;
    letter-spacing: 0.75px;
    text-transform: capitalize;

    /* Grey Scale/Grey 7 */

    color: #6F6F6F;


}

.work-box{
  position: absolute;
    width: 273px;
    height: 679px;
    left: 89px;
    top: 186px;

    /* Grey Scale/Grey 2 */

    background: #F4F4F4;
    border-radius: 8px 0px 0px 8px;


}

.raise{
        /* Action Chips */


    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    gap: 8px;

    width: 157px;
    height: 29px;
    margin-top: 0.8rem;
    margin-left: 1rem;

    /* Primary/States/Hover */

    background: rgba(105, 6, 224, 0.04);
    /* Brand Color/Purple 2 */

    border: 1px solid #9958FF;
    border-radius: 12px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.review{
    /* Action Chips */


    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    gap: 8px;

    width: 170px;
    height: 29px;
    margin-top: 0.5rem;
    margin-left: 1rem;

    /* Primary/States/Hover */

    background: rgba(105, 6, 224, 0.04);
    /* Brand Color/Purple 2 */

    border: 1px solid #9958FF;
    border-radius: 12px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;

}

.approve{
      /* Action Chips */


    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    gap: 8px;

    width: 178px;
    height: 29px;
    margin-top: 0.5rem;
    margin-left: 1rem;

    /* Primary/States/Hover */

    background: rgba(105, 6, 224, 0.04);
    /* Brand Color/Purple 2 */

    border: 1px solid #9958FF;
    border-radius: 12px;

    /* Inside auto layout */

    flex: none;
    order: 2;
    flex-grow: 0;
}

.make{

    * Action Chips */


    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    gap: 8px;

    width: 153px;
    height: 29px;
    margin-top: 0.5rem;
    margin-left: 1rem;

    /* Primary/States/Hover */

    background: rgba(105, 6, 224, 0.04);
    /* Brand Color/Purple 2 */

    border: 1px solid #9958FF;
    border-radius: 12px;

    /* Inside auto layout */

    flex: none;
    order: 3;
    flex-grow: 0;
}

.inform{

    /* Action Chips */


    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    gap: 8px;

    width: 222px;
    height: 29px;
    margin-top: 0.5rem;
    margin-left: 1rem;

    /* Primary/States/Hover */

    background: rgba(105, 6, 224, 0.04);
    /* Brand Color/Purple 2 */

    border: 1px solid #9958FF;
    border-radius: 12px;

    /* Inside auto layout */

    flex: none;
    order: 4;
    flex-grow: 0;
}

.in{
  /* Workflow Type */


    position: absolute;
    width: 102px;
    height: 24px;
    left: 100px;
    top: -14px;
    margin-left:12px;

    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 24px;
    /* identical to box height, or 171% */

    text-align: center;
    letter-spacing: 0.1px;

    /* Typography/On Surface/High Emphasis */

    color: rgba(39, 41, 54, 0.85);
}

.ready{

box-sizing: border-box;

/* Auto layout */

display: flex;
flex-direction: column;
align-items: center;
padding: 0px;

width: 234px;
height: 56px;

/* Surface/Surface */

background: #FFFFFF;
/* Typography/On Surface/Medium Emphasis */

border: 1px solid rgba(39, 41, 54, 0.45);
border-radius: 4px;

/* Inside auto layout */

flex: none;
order: 0;
align-self: stretch;
}

